<%attr>
    breadcrumb      => 'Change Password'
</%attr>

<%args>
    $curpasswd  => ''
    $password1  => ''
    $password2  => ''
</%args>

<%init>
my $err_cur = '';
my $err_pw1 = '';
my $err_pw2 = '';
if ( $curpasswd || $password1 || $password2 ) {
    $err_cur = 'Must provide current password' unless $curpasswd;
    $err_pw1 = 'Must provide new password' unless $password1;
    $err_pw2 = 'Must confirm new password' unless $password2;

    if ( $curpasswd ) {
        unless ( $User->verify_password( $curpasswd ) ) {
            $err_cur = 'Current password is not correct';
        }
    }
    unless ( $password1 eq $password2 ) {
        $err_pw2 = 'Passwords do not match';
    }

    if ( $err_cur || $err_pw1 || $err_pw2 ) {
        error( "Could not change password" );
    } else {
        if ( $User->set_password( $password1 ) && $User->update ) {
            success( 'Password successfully changed' );
        } else {
            error( 'An unknown error occurred' );
        }
    }
}

my $class_cur = $err_cur ? 'error' : '';
my $class_pw1 = $err_pw1 ? 'error' : '';
my $class_pw2 = $err_pw2 ? 'error' : '';


</%init>

<form method="POST" action="<% $r->uri %>" class="form-horizontal">

<div class="row">
    <div class="span4">
        <h2>Password</h2>
        <p>Change your password here</p>
    </div>
    <div class="span8">
        <fieldset>

            <div class="control-group <% $class_cur %>">
                <label class="control-label" for="curpasswd">Current Password</label>
                <div class="controls">
                    <input class="input-xlarge" name="curpasswd" type="password"/>
                    <p class="help-block"><% $err_cur %></p>
                </div>
            </div>

            <div class="control-group <% $class_pw1 %>">
                <label class="control-label" for="password1">New Password</label>
                <div class="controls">
                    <input class="input-xlarge" name="password1" type="password"/>
                    <p class="help-block"><% $err_pw1 %></p>
                </div>
            </div>

            <div class="control-group <% $class_pw2 %>">
                <label class="control-label" for="password2">Confirm Password</label>
                <div class="controls">
                    <input class="input-xlarge" name="password2" type="password"/>
                    <p class="help-block"><% $err_pw2 %></p>
                </div>
            </div>

        </fieldset>
    </div>
</div>

<div class="actions">
    <button type="submit" class="btn btn-primary">Save changes</button>
    &nbsp;
    <button type="reset" class="btn">Cancel</button>
</div>

</form>
